<div class="d-flex mx-3">
  <div class="container">
    <div class="content-color rounded overflow-hidden">
      <div class="d-flex m-4 justify-content-between">
        <div class="mb-1">Pie Charts</div>
        <div class="icon-color">
          <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
          <i class="fa-solid fa-gear m-1 fa-xs"></i>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div style="width: 55%;">
          <canvas id="pieChart1"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-color rounded overflow-hidden">
      <div class="d-flex m-4 justify-content-between m-4">
        <div class="mb-1">Pie Charts</div>
        <div class="icon-color">
          <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
          <i class="fa-solid fa-gear m-1 fa-xs"></i>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div style="width: 55%;">
          <canvas id="pieChart2"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>