<div class=" px-4 my-4 container">
    <div class="content-color p-3 rounded overflow-hidden">
        <div class="d-flex justify-content-between m-4">
            <div class="mb-1">Bar Chart & Doughnut Chart</div>
            <div class="icon-color">
                <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                <i class="fa-solid fa-gear m-1 fa-xs"></i>
            </div>
        </div>
        <div class="d-flex justify-content-between bar-chart">
            <!--  barChart-->
            <div class="col-sm-6">
                <canvas id="barChart"></canvas>
            </div>
            <!-- doughnut-chart -->
            <div class="col-sm-6">
                <app-doughnut-chart></app-doughnut-chart>
            </div>
        </div>
    </div>
</div>