<div class="container mb-5">
    <div class="px-2">
        <div class="content-color p-3 rounded overflow-hidden">
            <div class="d-flex justify-content-between m-4">
                <div class="mb-1">Monthly Line Chart</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>