<!--First Row -->
<div class="d-flex">
    <!-- Horizontal Form -->
    <div class="col-md-6 px-3">
        <div class="content-color p-5 rounded overflow-hidden">
            <div class="d-flex justify-content-between m-4">
                <div class="mb-1">Horizontal Form</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div>
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Text Field</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Password Field</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Texarea</label>
                        <div class="col-sm-10">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Readonly</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" value="Read only text" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">Checkbox</label>
                            </div>
                            <div class="form-check mt-2">
                                <input type="checkbox" class="form-check-input" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">Checkbox</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Vertical Form -->
    <div class="col-md-6 px-3">
        <div class="content-color p-5 rounded overflow-hidden">
            <div class="d-flex justify-content-between m-4">
                <div>Vertical Form</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div>
                <form>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Text Field</label>
                        <div>
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Password Field</label>
                        <div>
                            <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Texarea</label>
                        <div>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail3" class="col-form-label text-end">Readonly</label>
                        <div class="">
                            <input type="email" class="form-control" value="Read only text" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary"><i
                                    class="fa-regular fa-floppy-disk pe-2"></i>Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Second Row -->
<div class="d-flex pt-5">
    <!-- Inline Form -->
    <div class="col-md-6 px-3">
        <div class="content-color rounded overflow-hidden">
            <div class="d-flex justify-content-between inline-color p-3">
                <div class="mb-1">Inline Form</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div class="d-flex justify-content-around p-4">
                <form class="form-inline" role="form">
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-3"> <input type="email" class="form-control w-5" id="exampleInputEmail2"
                                placeholder="Enter email">
                        </div>
                        <div class="col-md-3"> <input type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="Password">
                        </div>
                        <div class="form-check col-md-3">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Inline Form Disabled -->
    <div class="col-md-6 px-3">
        <div class="content-color rounded overflow-hidden">
            <div class="d-flex justify-content-between inline-color-pink p-3">
                <div class="mb-1">Inline Form Disabled</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div class="d-flex justify-content-around p-4">
                <form class="form-inline" role="form">
                    <div class="d-flex row justify-content-between">
                        <div class="col-md-3">
                            <input type="email" class="form-control w-5" id="exampleInputEmail2"
                                placeholder="Enter email" disabled>
                        </div>
                        <div class="col-md-3">
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="Password" disabled>
                        </div>
                        <div class="form-check col-md-3">

                            <label class="form-check-label" for="rememberMe"><input type="checkbox"
                                    class="form-check-input" id="rememberMe" disabled>Remember me</label>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" disabled>Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Third Row      Column Sizes-->
<div class="pt-5">
    <div class="container">
        <div class="content-color rounded overflow-hidden">
            <div class="d-flex justify-content-between blue-color p-2">
                <div class="mb-1">Column Sizes</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div class="m-3">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder=".col-sm-12">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder=".col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder=".col-sm-6">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder=".col-sm-6">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder=".col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder=".col-sm-3">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder=".col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder=".col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder=".col-sm-6">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder=".col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder=".col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder=".col-sm-4">
                    </div>

                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder=".col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- fourth row -->
<div class="mt-5 d-flex">
    <!-- Right Aligned -->
    <div class="container">
        <div class="content-color rounded overflow-hidden">
            <div class="d-flex justify-content-between blue-color p-2">
                <div class="mb-1">Right Aligned</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div class="m-3">
                <div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder=".col-sm-2">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control" placeholder=".col-sm-3">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder=".col-sm-4">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder=".col-sm-5">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder=".col-sm-6">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder=".col-sm-7">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder=".col-sm-8">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder=".col-sm-9">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder=".col-sm-10">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder=".col-sm-11">
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder=".col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left Aligned -->
    <div class="container">
        <div class="content-color rounded overflow-hidden">
            <div class="d-flex justify-content-between blue-color p-2">
                <div class="mb-1">Left Aligned</div>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div class="m-3">
                <div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder=".col-sm-2">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control" placeholder=".col-sm-3">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder=".col-sm-4">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder=".col-sm-5">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder=".col-sm-6">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder=".col-sm-7">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder=".col-sm-8">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder=".col-sm-9">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder=".col-sm-10">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder=".col-sm-11">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder=".col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- fifth row -->
<div class="d-flex mt-5">
    <!-- Default Elements -->
    <div class="col-md-6 px-3">
        <div class="content-color p-5 rounded overflow-hidden">
            <div class="mb-1">Default Elements</div>
            <div class="d-flex justify-content-between m-4">
                <h5 class="mb-1">Default Form Elements</h5>
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div>
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Text Field</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Password Field</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-end">Texarea</label>
                        <div class="col-sm-10">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>

                    <!-- checkbox -->
                    <fieldset>
                        <legend>Unstyled Checkbox</legend>
                        <hr>
                        <div class="form-group d-flex m-3">
                            <label class="col-md-2 control-label mx-2">Checkbox default</label>
                            <div class="col-md-10 mx-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Checkbox 1 </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Checkbox 2 </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Checkbox 3 </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex m-3">
                            <label class="col-md-2 control-label mx-2">Inline</label>
                            <div class="col-md-10 mx-2">
                                <label class="checkbox-inline">
                                    <input type="checkbox">
                                    Checkbox 12 </label>
                                <label class="checkbox-inline mx-3">
                                    <input type="checkbox">
                                    Checkbox 2 </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">
                                    Checkbox 3 </label>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Radiobox -->
                    <fieldset>
                        <legend>Unstyled Radiobox</legend>
                        <hr>
                        <div class="form-group d-flex m-3">
                            <label class="col-md-2 control-label">Radios default</label>
                            <div class="col-md-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio">
                                        Radiobox 1 </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio">
                                        Radiobox 2 </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio">
                                        Radiobox 3 </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex m-3">
                            <label class="col-md-2 control-label">Inline</label>
                            <div class="col-md-10">
                                <label class="radio radio-inline">
                                    <input type="radio">
                                    Radiobox 1 </label>
                                <label class="radio radio-inline mx-2">
                                    <input type="radio">
                                    Radiobox 2 </label>
                                <label class="radio radio-inline">
                                    <input type="radio">
                                    Radiobox 3 </label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>File inputs</legend>
                        <div class="form-group m-3 d-flex">
                            <label class="col-md-2 control-label">File input</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="exampleInputFile1">
                                <p class="help-block py-1">
                                    some help text here.
                                </p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Unstyled Select</legend>
                        <hr>
                        <div class="form-group d-flex">
                            <label class="col-md-2 control-label my-3">Select</label>
                            <div class="col-md-10">
                                <select class="form-control">
                                    <option>Amsterdam</option>
                                    <option>Atlanta</option>
                                    <option>Baltimore</option>
                                    <option>Boston</option>
                                    <option>Buenos Aires</option>
                                    <option>Calgary</option>
                                    <option>Chicago</option>
                                    <option>Denver</option>
                                    <option>Dubai</option>
                                    <option>Frankfurt</option>
                                    <option>Hong Kong</option>
                                    <option>Honolulu</option>
                                    <option>Houston</option>
                                    <option>Kuala Lumpur</option>
                                    <option>London</option>
                                    <option>Los Angeles</option>
                                    <option>Melbourne</option>
                                    <option>Mexico City</option>
                                    <option>Miami</option>
                                    <option>Minneapolis</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group d-flex">
                            <label class="col-md-2 control-label" for="multiselect1">Multiple select</label>
                            <div class="col-md-10">
                                <select multiple="multiple" id="multiselect-1" class="form-control custom-scroll"
                                    title="Click to Select a City">
                                    <option>Amsterdam</option>
                                    <option selected="selected">Atlanta</option>
                                    <option>Baltimore</option>
                                    <option>Boston</option>
                                    <option>Buenos Aires</option>
                                    <option>Calgary</option>
                                    <option selected="selected">Chicago</option>
                                    <option>Denver</option>
                                    <option>Dubai</option>
                                    <option>Frankfurt</option>
                                    <option>Hong Kong</option>
                                    <option>Honolulu</option>
                                    <option>Houston</option>
                                    <option>Kuala Lumpur</option>
                                    <option>London</option>
                                    <option>Los Angeles</option>
                                    <option>Melbourne</option>
                                    <option>Mexico City</option>
                                    <option>Miami</option>
                                    <option>Minneapolis</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend>Input States</legend>
                        <div class="d-flex  my-3">
                            <label class="text-warning">Input warning</label>
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control border-warning">
                                    <span class="input-group-text border-warning">
                                        <i class="fa fa-warning text-warning"></i>
                                    </span>
                                </div>
                                <span class="help-block text-warning">Something may have gone wrong</span>
                            </div>
                        </div>

                        <div class="d-flex  my-3">
                            <label class="text-warning">Input warning</label>
                            <div class="input-group my-3">
                                <div class="input-group">
                                    <input type="text" class="form-control border-danger">
                                    <span class="input-group-text border-danger">
                                        <i class="fa-solid fa-circle-xmark text-danger"></i>
                                    </span>
                                </div>
                                <span class="help-block text-danger"><i class="fa fa-warning"></i> Please correct the error</span>
                            </div>
                        </div>

                        <div class="d-flex  my-3">
                            <label class="text-warning">Input warning</label>
                            <div class="input-group my-3">
                                <div class="input-group">
                                    <span class="input-group-text border-success">
                                        <i class="fa-solid fa-dollar-sign text-success"></i>
                                    </span>
                                    <input type="text" class="form-control border-success">
                                    <span class="input-group-text  border-success">
                                        <i class="fa-solid fa-check text-success"></i>
                                    </span>
                                </div>
                                <span class="help-block text-success">Something may have gone wrong</span>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Input sizes</legend>
                        <hr>
                        <div class="form-group d-flex my-3">
                            <label class="control-label col-md-2">Extra Small Input</label>
                            <div class="col-md-10">
                                <input class="form-control input-xs" placeholder=".input-xs" type="text">
                            </div>
                        </div>
                        <div class="form-group d-flex my-3">
                            <label class="control-label col-md-2">Small Input</label>
                            <div class="col-md-10">
                                <input class="form-control input-sm" placeholder=".input-sm" type="text">
                            </div>
                        </div>
                        <div class="form-group d-flex my-3">
                            <label class="control-label col-md-2">Default Input</label>
                            <div class="col-md-10">
                                <input class="form-control" placeholder="Default input" type="text">
                            </div>
                        </div>
                        <div class="form-group d-flex my-3">
                            <label class="control-label col-md-2">Large Input</label>
                            <div class="col-md-10">
                                <input class="form-control input-lg" placeholder=".input-lg" type="text">
                            </div>
                        </div>
                    </fieldset>

                    <div>
                        <legend>Prepend & Append</legend>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">a</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">example.com</span>
                        </div>

                        <div class="mb-3">
                            <label for="basic-url" class="form-label">Your vanity URL</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                <input type="text" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3 basic-addon4">
                            </div>
                            <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                            <span class="input-group-text">a</span>
                            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">With textarea</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>

                    <div class="form-actions my-4">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn btn-outline-primary" type="submit">
                                    Cancel
                                </button>
                                <button class="btn btn-primary mx-3" type="submit">
                                    <i class="fa fa-save"></i>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Form Widgets -->
    <div class="col-md-6 px-3">
        <div class="content-color p-5 rounded overflow-hidden">
            <div>Form Widgets</div>
            <div class="d-flex justify-content-between m-4">
                <div>
                    <i class="fa-solid fa-arrows-rotate m-1 fa-xs"></i>
                    <i class="fa-solid fa-gear m-1 fa-xs"></i>
                </div>
            </div>
            <div>
                <form>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Text Field</label>
                        <div>
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Password Field</label>
                        <div>
                            <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div>
                        <label for="inputEmail3" class="col-form-label text-end">Texarea</label>
                        <div>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail3" class="col-form-label text-end">Readonly</label>
                        <div class="">
                            <input type="email" class="form-control" value="Read only text" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary"><i
                                    class="fa-regular fa-floppy-disk pe-2"></i>Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>