<div class="sidebar-nav col-sm-auto rounded m-3 p-3 content-color">
   <div class="sidebar content-box">
      <ul class="nav">
         <li class="current" style="--delay: 1;">
            <a routerLink="" routerLinkActive="active">
               <i class="fa-solid fa-home"></i> Dashboard
            </a>
         </li>
         <li style="--delay: 2;">
            <a routerLink="calender" routerLinkActive="active">
               <i class="fas fa-calendar-alt"></i> Calendar
            </a>
         </li>
         <li style="--delay: 3;">
            <a routerLink="table" routerLinkActive="active">
               <i class="fa-solid fa-list"></i> Tables
            </a>
         </li>
         <li style="--delay: 4;">
            <a routerLink="forms" routerLinkActive="active">
               <i class="fa-solid fa-clipboard"></i> Forms
            </a>
         </li>
      </ul>
   </div>
</div>