<div>
    <!-- Line chart -->
    <app-line-chart></app-line-chart>

    <!-- Line Chart -->
    <app-monthly-line-chart></app-monthly-line-chart>

    <!-- Bar Chart -->
    <app-bar-chart></app-bar-chart>

    <!-- Doughnut Chart -->
    <app-progressive-doughnut-chart></app-progressive-doughnut-chart>

    <!-- Pie Chart -->
    <app-pie-chart></app-pie-chart>

    <div class="d-flex justify-content-between container .custom-height my-5">
        <div class="col-sm-6">
            <!-- Bar Chart -->
            <app-bar-chart-color></app-bar-chart-color>
        </div>
        <div class="col-sm-6">
            <!-- Line Chart -->
            <app-progressive-line-chart></app-progressive-line-chart>
        </div>
    </div>

</div>