* {
    margin: 0px;
    padding: 0px;
}

.content-color {
    background-color: #FFFFFF;
}

.btn-color{
    background-color: #4191d2;
}
.btn-color:hover{
    background-color: #3170a3;
}

.icon-color{
    color: #82aed4;
}